@media only screen and (max-width: 300px) {
  body {
    background-color: red;
    font-size: 50%;
    }

    #small{display: block}
    #Large{display: none}
    #Medium{display: none}
}



@media only screen and (max-width: 768px) {
  body {
    background-color: green;
    font-size: 75%;
}
    #Medium{display: block}
    #small{display: none}
    #Large{display: none}
}



@media only screen and (min-width: 768px) {
  body {
    background-color: blue;
    font-size: 100%;
}
    #Large{display: block}
    #small{display: none}
    #Medium{display: none}
}
